<!DOCTYPE html>
<html>
<head>
  <title>BackboneDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <script>
    window.CURRENT_USER_EMAIL = "<%= current_user.email %>";
    window.CURRENT_USER_ID = "<%= current_user.id %>";
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
